@import url(./components/navbar.css);
@import url(./components/profile-card.css);
@import url(./components/job-card.css);
@import url(./components/project-card.css);
@import url(./components/socialmedia.css);

body {
  /* background-color: #FFC7C7; */
  background: linear-gradient(#FFC7C7, #fbe3c0);
}

:root {
  font-family: "Montserrat", sans-serif;
  --primary-color: #002379;
  --secondary-color: #1640D6;
  --hover-color: #615EFC;
}

p {
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-color);
  line-height: 1.5;
  margin-top:0;
  margin-bottom: 15px;
  font-family: "Fira Sans", sans-serif;
}

.box{
  display: flex;
}

.left-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.sticky {
  position: sticky;
  top: 0;
}

.info-description-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 60px;
}


/* responsive design */

@media(max-width: 992px) {
  .box, .job-card, .profile-card, .project-card {
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .left-card {
    height: auto;
    width: 100%;
    text-align: center;
  }

  .sticky {
    position: static;
  }

  .info-description-card {
    width: 75%;
  }

  .job-card h4 {
    margin-right: 0;
    align-self: flex-start;
  }

  .image-project-card {
    margin-bottom: 20px;
    align-self: flex-start;
    height: auto;
    width: 250px;
  }
}
