.fa-brands {
  font-size: 20px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.fa-brands:hover {
  color: var(--hover-color);
}

.fa-linkedin {
  margin-right: 10px;
  margin-left: 10px;
}

.social-media-card {
  margin-top: 20px;
}
